.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0);
}

.beeSad {
  width: 100px;
}
