.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 50px;
  background: #e8d5c4;
  box-shadow: 0 2px 8px 1px #706153;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  color: #000000;
}

.logo:hover {
  color: #706153;
}

.logo:active {
  color: #ab947f;
}

h2 {
  margin-left: 10px;
}

.hamburg {
  margin-left: auto;
}

.hamburg:hover,
.logo:hover,
h2:hover {
  cursor: pointer;
}
